/* Desktop */
body {
  background: radial-gradient(
    circle at center 400px,
    #222,
    black 100%
  ) no-repeat;
  background-repeat: no-repeat;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

.center-piece {
  width: 580px;
  font-family: 'Pacifico', 'cursive';
  text-shadow: -35px 30px 40px black;
  transform: rotate(-30deg);
  color: white;
  font-size: 12em;
  position: relative;
  /* padding-right: */
  top: 130px;
  left: 240px;
}
.clearfix {
  overflow: auto;
}

/* .header-desktop {
  background-color: #222;
  border: 2px black;
} */

.item {
  text-decoration: none;
  color: white;
}

.main-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  height: 680px;
  flex-wrap: nowrap;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pusher {
  align-self: flex-end;
}

.social-media-button {
  align-self: flex-end;
}
.social-media-sidebar {
  display: inline-flex;
  align-self: flex-end;
  height: 215px;
  width: 230px;
}

.ui.segment.pushable {
  background-color: #222;
  width: 100%;
  justify-content: flex-end;
}

.top-headline {
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}

@media only screen and (min-width: 700px) {

  .header-desktop {
    display: inherit;
  }

  .header-mobile {
    display: none;
  }
}
