/* Desktop */
body {
  background: radial-gradient(
    circle at center 400px,
    #222,
    black 100%
  ) no-repeat;
  background-repeat: no-repeat;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

.center-piece {
  width: 500px;
  font-family: 'Pacifico', 'cursive';
  text-shadow: -35px 30px 40px black;
  transform: rotate(-30deg);
  color: white;
  font-size: 12em;
  position: relative;
  top: 130px;
  /* -webkit-box-reflect: below; */
  /* animation: pulse 0.5s 2; */
}
.clearfix {
  overflow: auto;
}

/* .header-desktop {
  background-color: #222;
  border: 2px black;
} */

.item {
  text-decoration: none;
  color: white;
}

.intro-box {
  display: inline-block;
  color: white;
  width: 200px;
  height: auto;
  padding-left: 10px;
}

.main-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  height: 680px;
  flex-wrap: nowrap;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pusher {
  align-self: flex-end;
}

.social-media-button {
  align-self: flex-end;
}

.social-media-sidebar {
  display: inline-flex;
  align-self: flex-end;
  height: 215px;
  width: 230px;
}

.ui.segment.pushable {
  background-color: #222;
  height: 200;
  width: 100%;
  justify-content: flex-end;
}

.top-headline {
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}

/* @keyframes pulse {
  0% {

  }
  100% {
    background-color: #FFFFFF;
  }
} */

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) {
}

@media only screen and (min-width: 700px) {

  .center-piece {
    left: 410px;
  }

  body {
    height: auto;
    width: auto;
  }

  .header-desktop {
    display: inherit;
  }

  .header-mobile {
    display: none;
  }
}
